{% include '/var/www/jastme/base.html' %}
<!-- right -->
<div id="xt-right">
    <div class="xt-bt">操作接口----&gt;缓存清理</div>
<!--    <div class="xt-input">
       <span><button><a href="{% url 'addserver' %}" class="btn btn-warning btn-large">添加</a></button></span>
	<span><form class="form-search" action="" method="POST"><span><input style="height:35px;width:100%" class="pull-right" type="text" /></span><button class="btn green-int btn-large pull-right" contenteditable="true" type="submit">查找</button></form></span>
    </div>  -->
    <div class="xt-fenye">
    {% for info in result %}
    <div>
        {{info}}
    </div>
    {% endfor %}
    </div>
    <div class="xt-fenye">
        <div class="xt-fenye-left">当前第 1 / 270 页,每页10条，共 2696条记录</div>
        <div class="xt-fenye-right">
            <a href="#">首页</a>
            <a href="#">上一步</a>
            <a href="#">下一步</a>
            <a href="#">尾页</a>
            <input type="text" name="text" />
            <a href="#" class="xt-link">跳转</a>
        </div>
    </div>
</div>
</div>

</body>
</html>
